openapi: 3.2.0
info:
  title: USAspending Disaster API
  description: The USAspending API provides free, public, unauthenticated access to U.S.
  version: v2
  contact:
    name: USAspending.gov / Bureau of the Fiscal Service
    url: https://www.usaspending.gov
  license:
    name: Open source (CC0 / public domain, U.S. Government work)
    url: https://github.com/fedspendingtransparency/usaspending-api/blob/master/LICENSE.md
servers:
- url: https://api.usaspending.gov/api/v2
  description: Production (no authentication required)
tags:
- name: Disaster
  description: Disaster and emergency (including COVID-19) supplemental funding data.
paths:
  /disaster/overview/:
    get:
      operationId: getDisasterOverview
      tags:
      - Disaster
      summary: Disaster / emergency funding overview
      description: Returns funding and spending detail from emergency and disaster supplemental appropriations (for example, CARES Act COVID-19 relief), optionally scoped to a comma-delimited list of Disaster Emergency Fund Codes (DEFC).
      parameters:
      - name: def_codes
        in: query
        required: false
        description: Comma-delimited list of Disaster Emergency Fund Codes to limit results to.
        schema:
          type: string
      responses:
        '200':
          description: Disaster spending overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisasterOverview'
components:
  schemas:
    DisasterOverview:
      type: object
      properties:
        funding:
          type: array
          items:
            $ref: '#/components/schemas/DisasterFunding'
        total_budget_authority:
          type: number
        spending:
          $ref: '#/components/schemas/DisasterSpending'
    DisasterSpending:
      type: object
      properties:
        award_obligations:
          type:
          - number
          - 'null'
        award_outlays:
          type:
          - number
          - 'null'
        total_obligations:
          type:
          - number
          - 'null'
        total_outlays:
          type:
          - number
          - 'null'
    DisasterFunding:
      type: object
      properties:
        def_code:
          type: string
        amount:
          type: number
