openapi: 3.2.0
info:
  title: USAspending Recipient API
  description: The USAspending API provides free, public, unauthenticated access to U.S.
  version: v2
  contact:
    name: USAspending.gov / Bureau of the Fiscal Service
    url: https://www.usaspending.gov
  license:
    name: Open source (CC0 / public domain, U.S. Government work)
    url: https://github.com/fedspendingtransparency/usaspending-api/blob/master/LICENSE.md
servers:
- url: https://api.usaspending.gov/api/v2
  description: Production (no authentication required)
tags:
- name: Recipient
  description: Recipient (awardee) profile and search data.
paths:
  /recipient/:
    post:
      operationId: listRecipients
      tags:
      - Recipient
      summary: List / search recipients
      description: Returns a paged list of recipients, their level, UEI (and deprecated DUNS), and award amount. Supports keyword search on name, UEI, or DUNS.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientListRequest'
            example:
              order: desc
              sort: amount
              page: 1
              limit: 50
              award_type: all
      responses:
        '200':
          description: Paged recipient listing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientListResponse'
components:
  schemas:
    RecipientListing:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        duns:
          type:
          - string
          - 'null'
        uei:
          type:
          - string
          - 'null'
        recipient_level:
          type: string
        amount:
          type: number
    RecipientListRequest:
      type: object
      properties:
        order:
          type: string
          enum:
          - asc
          - desc
          default: desc
        sort:
          type: string
          enum:
          - name
          - duns
          - amount
          default: amount
        limit:
          type: integer
          default: 50
          maximum: 1000
        page:
          type: integer
          default: 1
        keyword:
          type: string
          description: Searches on name, UEI, or DUNS.
        award_type:
          type: string
          enum:
          - all
          - contracts
          - grants
          - loans
          - direct_payments
          - other_financial_assistance
          default: all
    RecipientListResponse:
      type: object
      properties:
        page_metadata:
          $ref: '#/components/schemas/PageMetadata'
        results:
          type: array
          items:
            $ref: '#/components/schemas/RecipientListing'
    PageMetadata:
      type: object
      properties:
        page:
          type: integer
        next:
          type:
          - integer
          - 'null'
        previous:
          type:
          - integer
          - 'null'
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean
        total:
          type: integer
